* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding-top: 2vh;
  font-family: "Karla", sans-serif;
  height: 100%;
  background-attachment: fixed;
  background-image: linear-gradient(to bottom right , #1a9c87, #21c4a8,#7915b3,#672280);
}

.App {
  width: 50%;
  margin: 0 auto;
  background-color: white;
  border-radius: 8px;
  padding-bottom: 1.7em;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.header {
  background-color: #57166e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 2.3em;
  border-radius: 8px 8px 0 0;;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo > img {
  width: 15%;
  height: 15%;
}

.header-logo > h1 {
  font-weight: 400;
  font-size: 2.5rem;
  padding-left: .5em;
}

.header > p {
  font-size: 1.3rem;
}

.Form {
  width: 90%;
  margin: 4em auto 0 auto;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  gap: 1.5em;
  box-sizing: border-box;
}

.Form > input {
  height: 6vh;
  border: 1px solid #D5D4D8;
  border-radius: 6px;
  font-size: 1.5rem;
  padding-left: .3em;
} 

.Form > button {
  height: 7vh;
  border: none;
  border-radius: 6px;
  background-color: #57166e;
  /* background-image: linear-gradient(to right, #672280 , #A626D3); */
  color: white;
  font-size: 1.6rem;
  grid-column: 1 / -1;
  cursor: pointer;
}

.img-container {
  margin-top: 2em;
  position: relative;
}

.meme-img {
  height: 50vh;
  grid-column: 1 / -1;
  margin: 0 auto;
  max-width: 100%;
  display: block;
}

.text {
  overflow-wrap: break-word;
  word-wrap: break-word;
  min-width: 1px;
  max-width: 20px;
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.first-text {
  top: 0;
}

.second-text {
  bottom: 0;
}



